.fifth {
	background-color:rgb(76,87,98);
}

.cm-table {
	/*display: none;*/
}

.cmt-sale {
	display: none;
	margin-top: 15px;
	background-color: #2C3238;
	border-bottom: solid 1px #2c3238;
	border-radius: 3px 3px 0px 0px;
	height: 50px;
	color: #9aa4a8;
    font-size: 14px;
    font-family: CorbelBold;
    text-shadow: 0px 1px 0px #1d2024;
    line-height: 50px;
}

.cm-vip {
	margin-top: 15px;
	background-color: #2C3238;
	border-bottom: solid 1px #2c3238;
	border-radius: 3px 3px 0px 0px;
	height: 50px;
	color: #9aa4a8;
    font-size: 14px;
    font-family: CorbelBold;
    text-shadow: 0px 1px 0px #1d2024;
    line-height: 50px;
}

.re-df-list {
	padding:15px;
	color:  #272c32;
	font-size: 20px;
	width: 100%;
	
	box-sizing: border-box;
	text-align: center;
}

.re-df-list input {
	outline: none;
	width: 290px;
    height: 40px;
    padding-left: 10px;
   
    font-size: 18px;
}

.re-dis-form {
	
}

.re-df-list select {
	outline: none;
	width: 304px;
    height: 44px;
    padding-left: 10px;
    
    font-size: 18px;
}

.re-xg-form {
	width: 500px;
	height: 700px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -370px;
	z-index: 10;
	display: none;
}

.re-xg-form p {
	color: #272c32;
    font-size: 20px;
    padding: 0px 15px;
    text-align: center;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 1px 0px #677380;
    margin-top: 20px;
}

.vipform {
	width: 500px;
	height: 700px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -370px;
	z-index: 10;
	display: none;
}

.vipform p {
	color: #272c32;
    font-size: 20px;
    padding: 0px 15px;
    text-align: center;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 1px 0px #677380;
    margin-top: 20px;	
}

.vipban {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.3);
	z-index: 5;
	display: none;
}

.xgpwd {
	float: right;
	position: relative;
	top: 12px;
}

.xgpwd:hover {
	color: #0000FF;
}

.vipSear {
	display: none;
	width: 500px;
	height: 300px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -150px;
	z-index: 10;
}

.vipSear p {
	color: #272c32;
    font-size: 20px;
    padding: 0px 15px;
    text-align: center;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 1px 0px #677380;
    margin-top: 20px;
}

.chongzhi {
	display: none;
	width: 500px;
	height: 300px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -150px;
	z-index: 10;
}

.chongzhi p {
	color: #272c32;
    font-size: 20px;
    padding: 0px 15px;
    text-align: center;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 1px 0px #677380;
    margin-top: 20px;
}


.xg-dis {
	width: 500px;
	height: 700px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -370px;
	z-index: 10;
	display: none;
}


.xg-dis p {
	color: #272c32;
    font-size: 20px;
    padding: 0px 15px;
    text-align: center;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 1px 0px #677380;
    margin-top: 20px;
}
